.card {
  width: 90%;
  border: 1px solid #000;
  margin: 1rem 0;
}

.card-header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 0 1rem;
}

.card-delete {
  font-size: 1rem;
  cursor: pointer;
}

.card-description {
  margin: 1rem;
}
